In [36]:
import numpy as np

In [38]:
import pandas as pd

In [40]:
pwd

'C:\\Users\\KIIT'

In [42]:
import os
print(os.getcwd())

C:\Users\KIIT

In [44]:
#Option 1

data = pd.read_csv(r"C:\Users\KIIT\Downloads\sample_submission.csv\sample_submission.csv")

In [46]:
data

       row_id                    target
0      200000  Streptococcus_pneumoniae
1      200001  Streptococcus_pneumoniae
2      200002  Streptococcus_pneumoniae
3      200003  Streptococcus_pneumoniae
4      200004  Streptococcus_pneumoniae
...       ...                       ...
99995  299995  Streptococcus_pneumoniae
99996  299996  Streptococcus_pneumoniae
99997  299997  Streptococcus_pneumoniae
99998  299998  Streptococcus_pneumoniae
99999  299999  Streptococcus_pneumoniae

[100000 rows x 2 columns]

In [60]:
data.columns

Index(['row_id', 'target'], dtype='object')

In [66]:
data[['row_id','target']]

       row_id                    target
0      200000  Streptococcus_pneumoniae
1      200001  Streptococcus_pneumoniae
2      200002  Streptococcus_pneumoniae
3      200003  Streptococcus_pneumoniae
4      200004  Streptococcus_pneumoniae
...       ...                       ...
99995  299995  Streptococcus_pneumoniae
99996  299996  Streptococcus_pneumoniae
99997  299997  Streptococcus_pneumoniae
99998  299998  Streptococcus_pneumoniae
99999  299999  Streptococcus_pneumoniae

[100000 rows x 2 columns]

In [68]:
data.loc[1:5,]

   row_id                    target
1  200001  Streptococcus_pneumoniae
2  200002  Streptococcus_pneumoniae
3  200003  Streptococcus_pneumoniae
4  200004  Streptococcus_pneumoniae
5  200005  Streptococcus_pneumoniae

In [70]:
data.loc[[3,4],'row_id':'target']

   row_id                    target
3  200003  Streptococcus_pneumoniae
4  200004  Streptococcus_pneumoniae

In [76]:
data['row_id'].nlargest()

99999    299999
99998    299998
99997    299997
99996    299996
99995    299995
Name: row_id, dtype: int64

In [78]:
data['row_id'].nsmallest()

0    200000
1    200001
2    200002
3    200003
4    200004
Name: row_id, dtype: int64

In [80]:
data.sort_values(by='row_id',ascending=False)

       row_id                    target
99999  299999  Streptococcus_pneumoniae
99998  299998  Streptococcus_pneumoniae
99997  299997  Streptococcus_pneumoniae
99996  299996  Streptococcus_pneumoniae
99995  299995  Streptococcus_pneumoniae
...       ...                       ...
4      200004  Streptococcus_pneumoniae
3      200003  Streptococcus_pneumoniae
2      200002  Streptococcus_pneumoniae
1      200001  Streptococcus_pneumoniae
0      200000  Streptococcus_pneumoniae

[100000 rows x 2 columns]

In [84]:
data = pd.read_csv(r"C:\Users\KIIT\Downloads\sample_submission.csv\sample_submission.csv")
data.head()

   row_id                    target
0  200000  Streptococcus_pneumoniae
1  200001  Streptococcus_pneumoniae
2  200002  Streptococcus_pneumoniae
3  200003  Streptococcus_pneumoniae
4  200004  Streptococcus_pneumoniae

In [86]:
data.head()

   row_id                    target
0  200000  Streptococcus_pneumoniae
1  200001  Streptococcus_pneumoniae
2  200002  Streptococcus_pneumoniae
3  200003  Streptococcus_pneumoniae
4  200004  Streptococcus_pneumoniae

In [88]:
data.tail()

       row_id                    target
99995  299995  Streptococcus_pneumoniae
99996  299996  Streptococcus_pneumoniae
99997  299997  Streptococcus_pneumoniae
99998  299998  Streptococcus_pneumoniae
99999  299999  Streptococcus_pneumoniae

In [90]:
data.shape

(100000, 2)

In [92]:
data.size

200000

In [94]:
data.dtypes

row_id     int64
target    object
dtype: object

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   row_id  100000 non-null  int64
 1   target  100000 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [98]:
data.isnull().sum()

row_id    0
target    0
dtype: int64

In [100]:
data.describe()

              row_id
count  100000.000000
mean   249999.500000
std     28867.657797
min    200000.000000
25%    224999.750000
50%    249999.500000
75%    274999.250000
max    299999.000000

In [102]:
data.describe(include="all")

               row_id                    target
count   100000.000000                    100000
unique            NaN                         1
top               NaN  Streptococcus_pneumoniae
freq              NaN                    100000
mean    249999.500000                       NaN
std      28867.657797                       NaN
min     200000.000000                       NaN
25%     224999.750000                       NaN
50%     249999.500000                       NaN
75%     274999.250000                       NaN
max     299999.000000                       NaN

In [104]:
print(data.describe())

              row_id
count  100000.000000
mean   249999.500000
std     28867.657797
min    200000.000000
25%    224999.750000
50%    249999.500000
75%    274999.250000
max    299999.000000

In [108]:
data['row_id']

0        200000
1        200001
2        200002
3        200003
4        200004
          ...
99995    299995
99996    299996
99997    299997
99998    299998
99999    299999
Name: row_id, Length: 100000, dtype: int64

In [110]:
data.row_id

0        200000
1        200001
2        200002
3        200003
4        200004
          ...
99995    299995
99996    299996
99997    299997
99998    299998
99999    299999
Name: row_id, Length: 100000, dtype: int64

In [114]:
data['row_id'].values

array([200000, 200001, 200002, ..., 299997, 299998, 299999], dtype=int64)

In [116]:
data

       row_id                    target
0      200000  Streptococcus_pneumoniae
1      200001  Streptococcus_pneumoniae
2      200002  Streptococcus_pneumoniae
3      200003  Streptococcus_pneumoniae
4      200004  Streptococcus_pneumoniae
...       ...                       ...
99995  299995  Streptococcus_pneumoniae
99996  299996  Streptococcus_pneumoniae
99997  299997  Streptococcus_pneumoniae
99998  299998  Streptococcus_pneumoniae
99999  299999  Streptococcus_pneumoniae

[100000 rows x 2 columns]

In [120]:
data.drop("row_id",axis=1,inplace=True)
data

                         target
0      Streptococcus_pneumoniae
1      Streptococcus_pneumoniae
2      Streptococcus_pneumoniae
3      Streptococcus_pneumoniae
4      Streptococcus_pneumoniae
...                         ...
99995  Streptococcus_pneumoniae
99996  Streptococcus_pneumoniae
99997  Streptococcus_pneumoniae
99998  Streptococcus_pneumoniae
99999  Streptococcus_pneumoniae

[100000 rows x 1 columns]

In [122]:
data.iloc[0]

target    Streptococcus_pneumoniae
Name: 0, dtype: object

In [124]:
data.iloc[99]

target    Streptococcus_pneumoniae
Name: 99, dtype: object

In [126]:
data.iloc[[0, 99, 499]]

                       target
0    Streptococcus_pneumoniae
99   Streptococcus_pneumoniae
499  Streptococcus_pneumoniae

In [134]:
print(data.index)

RangeIndex(start=0, stop=100000, step=1)

In [138]:
data.reset_index(drop=True,inplace=True)
print(data.iloc[[1, 2]])

                     target
1  Streptococcus_pneumoniae
2  Streptococcus_pneumoniae

In [146]:
data.iloc[[1,2]]

                     target
1  Streptococcus_pneumoniae
2  Streptococcus_pneumoniae

In [160]:
print(data.iloc[0])

target    Streptococcus_pneumoniae
Name: 0, dtype: object

In [162]:
print(data.loc[99])

target    Streptococcus_pneumoniae
Name: 99, dtype: object

In [164]:
data.loc[582]

target    Streptococcus_pneumoniae
Name: 582, dtype: object

In [176]:
data.loc[1:20]

                      target
1   Streptococcus_pneumoniae
2   Streptococcus_pneumoniae
3   Streptococcus_pneumoniae
4   Streptococcus_pneumoniae
5   Streptococcus_pneumoniae
6   Streptococcus_pneumoniae
7   Streptococcus_pneumoniae
8   Streptococcus_pneumoniae
9   Streptococcus_pneumoniae
10  Streptococcus_pneumoniae
11  Streptococcus_pneumoniae
12  Streptococcus_pneumoniae
13  Streptococcus_pneumoniae
14  Streptococcus_pneumoniae
15  Streptococcus_pneumoniae
16  Streptococcus_pneumoniae
17  Streptococcus_pneumoniae
18  Streptococcus_pneumoniae
19  Streptococcus_pneumoniae
20  Streptococcus_pneumoniae

In [178]:
data.loc[[9,10],'row_id':'target']

                      target
9   Streptococcus_pneumoniae
10  Streptococcus_pneumoniae

In [182]:
data.loc[10,'target']

'Streptococcus_pneumoniae'

In [186]:
data.iloc[10,0]

'Streptococcus_pneumoniae'

In [188]:
data.iloc[0,0]

'Streptococcus_pneumoniae'

In [202]:
data.iloc[[999, 1]]

                       target
999  Streptococcus_pneumoniae
1    Streptococcus_pneumoniae

In [206]:
l1= data.set_index("target")
l1.head()

Empty DataFrame
Columns: []
Index: [Streptococcus_pneumoniae, Streptococcus_pneumoniae, Streptococcus_pneumoniae, Streptococcus_pneumoniae, Streptococcus_pneumoniae]

In [208]:
l1.shape

(100000, 0)

In [220]:
l1.reset_index()

                         target
0      Streptococcus_pneumoniae
1      Streptococcus_pneumoniae
2      Streptococcus_pneumoniae
3      Streptococcus_pneumoniae
4      Streptococcus_pneumoniae
...                         ...
99995  Streptococcus_pneumoniae
99996  Streptococcus_pneumoniae
99997  Streptococcus_pneumoniae
99998  Streptococcus_pneumoniae
99999  Streptococcus_pneumoniae

[100000 rows x 1 columns]

In [222]:
data['target'].value_counts()

target
Streptococcus_pneumoniae    100000
Name: count, dtype: int64

In [226]:
data['target'].value_counts()/len(data['target'])

target
Streptococcus_pneumoniae    1.0
Name: count, dtype: float64

In [228]:
data['target'].value_counts()/len(data['target'])

target
Streptococcus_pneumoniae    1.0
Name: count, dtype: float64

In [230]:
data['target'].value_counts(normalize=True)

target
Streptococcus_pneumoniae    1.0
Name: proportion, dtype: float64